.transition-transform {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.translate-x-0 {
    transform: translateX(0);
}

.-translate-x-full {
    transform: translateX(-100%);
}

.opacity-100 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}
