.glass{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    animation: fadeIn 2s ease 0s 1 normal forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}